

@{
    ViewBag.Title = "Index";
}
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Student Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Batch", "Index", "Batch")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Course", "Index", "Course")
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Logout", "Logout", "Login")
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" style="background-color: cornflowerblue;padding-top: 50px;">
        <div class="container">
            <h1 class="display-4 text-center text-white">Welcome to Student Management System</h1>
        </div>
    </div>
</body>
